/*----------- 
  Google Font
 ------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /*------------- 
   Commom Style
  --------------*/
 body{
     font-family: 'Poppins', sans-serif;
     background-color: #FFFFFF;
 }
 /*------------------ 
    Featured Section
 -------------------*/
 .featured-section{
     display: flex;
     background-color: #2D25A0;
     margin-bottom: 50px;
     height: 650px;
 }
 .featured-heading{
   width: 580px;
   height: 156px;
   position: relative;
   left: 200px;
   top: 75px;
 }
 .featured-heading h1{
   color: white;
   font-size: 60px;
 }
 .featured-image img{
  position: relative;
  width: 70%;
  left: 300px;
  transition: width 3s linear, transform 3s;
}
.featured-image img:hover{
  width: 78%;
  transform: rotate(360deg);
}
 .watch-live{
   background-color: #E02C6D;
   color: white;
   padding: 15px;
   width: 150px;
   position: relative;
   border: none;
 }
 .fa-arrow-right{
   color:white;
   position: relative;
   left: 7px;
 }
/*----------------
  Middle Section
-----------------*/
.middle-section{
  margin-bottom: 120px;
}
.blogs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 30px
}
.blog{
  width: 330px;
  height: 474px;
  padding: 15px;
  box-shadow: 1px 1px 10px rgb(238 234 234);
}
.blog img{
  width: 330px;
  height: 256px;
}
/*---------------------------
   Footer Featured Section 
----------------------------*/
.footer-feature{
  display: flex;
  margin-bottom: 150px;
}
.footer-featured-image img{
  position: relative;
  width: 650px;
  height: 550px;
  left: 130px;
}
.footer-featured-heading{
  width: 469px;
  height: 309px;
  position: relative;
  left: 100px;
  bottom: -50px;
}
.footer-featured-heading h1{
  font-size: 50px;
}
/*--------------- 
  Footer Section
----------------- */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-image img{
  width: 484px;
  height: 110px;
  position: relative;
  left: 65px;
  top: -60px;
}
/*------------------------------- 
    Featured Section Responsive
 --------------------------------*/
 @media only screen and (max-width:480px) {
  .featured-section{
    flex-direction: column;
    width: 100%;
    height: 870px;
  }
  .featured-heading{
    top: 0px;
    left: 0px;
    width: 0px;
    height: 400px;
    font-size: 50px;
  }
  .featured-image img{
    width: 100%;
    left: auto;
    top: 160px;
    left: 40px;
  } 
}
@media only screen and (min-width:481px) and (max-width:768px) {
  .featured-section{
  
  }
  .featured-heading{
    top: 0px;
    left: 0px;
  }
  .featured-image img{
    width: 100%;
    left: 0px;
    top: 200px
  }
}
/*------------------------------- 
    Middle Section Responsive
 --------------------------------*/
 @media only screen and (max-width:480px) {
  .blogs{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  .blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
/*------------------------------- 
    Footer Feature Responsive
 --------------------------------*/
 @media only screen and (max-width:480px){
  .footer-feature{
   flex-direction: column;
  }
  .footer-featured-heading{
    left: 0px;
  }
  .footer-featured-image img{
    width: 100%;
    left: 0px;
    top: 200px;
    margin-bottom: 150px;
  }
 }
 @media only screen and (min-width:481px) and (max-width:768px){
  .footer-feature{
    flex-direction: column;
   }
   .footer-featured-heading{
     left: 0px;
   }
   .footer-featured-image img{
     width: 100%;
     left: 0px;
     top: 200px;
     margin-bottom: 150px;
   }
 }
 /*------------------------------- 
    Footer Section Responsive
 --------------------------------*/
 @media only screen and (max-width:480px){
   .footer{
   
   }
   .footer-image img{
    width: 70%;
   }
   .social-icon{
    text-align: center;
   }
   .social-icon img{
    width: 15%;
   }
 }
 @media only screen and (min-width:481px) and (max-width:768px){
  .footer-image img{
    left: 1px;
  }
  .copy-text{
    text-align: center;
  }
 }